---
---
@import "bootstrap-v4/bootstrap";


.fa.fa-wifi.fa-bg {
  color: #e6faff;
  font-size: 50rem;
  position: fixed;
  z-index: 0;
}




.site-header,
.site-footer,
.site-content {
  z-index: 10;
  position: relative;
}



.site-title {
  font-family: "Source Sans Pro";
  font-weight: 700;
  text-shadow: 1px 1px 1px, 2px 2px 9px #eee;
  color: $brand-primary;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: $brand-primary;

  }
}

.site-footer .fa {
  font-size: 1.5rem;
}


@media (max-width: map-get($grid-breakpoints,"md")) {
  .site-title {
    font-size: 1rem;
  }
  .fflogo {
    width: 50px;
  }

  .navbar-brand {
    float: none;
    display: inline-block;
  }
  .navbar-brand > img {
    display: inline;
  }

  .navbar-nav .nav-item + .nav-item  {
    margin: 0px;
  }

  .ff-nav .nav-item {
    float: none;
  }
}

@media (min-width: map-get($grid-breakpoints,"md")) {

  .site-title {
    font-size: 3rem;
  }
  .navbar-brand {
    padding: 0px;
  }
  .fflogo {
    height: 110px;
    padding: 10px;
  }
}
