---
---





$brand-primary: #e5287a;
$brand-secondary: #e6faff;

$font-family-sans-serif: "Source Sans Pro", Helvetica, Arial, sans-serif;
$font-family-serif: "Lora", Serif;

@import "bootstrap-ffms";

$freifunk-farbe: $brand-primary;



body {
  overflow-x: hidden;
  font-size: 16px;
  font-size: calc( 14px + (16 - 14) * (100vw - 270px) / (1200 - 270) );
}

@for $i from 1 through 6 {
  h#{$i},
  .h#{$i} {
    hyphens: auto;
    word-wrap: break-word;
    margin-top: 1em;
    font-family: "Lora", serif;
  }
}

h1,.h1 {
  font-size: 2.1em;
}

h2,.h2 {
  font-size: 1.6em;
}

h3,.h3 {
  font-size: 1.45em;
}

h4,.h4 {
  font-size: 1.35em;
}

h5,.h5 {
  font-size: 1.2em;
}
h6,.h6 {
  font-size: 1em;
}



hr {
  border-top: 0.1rem solid $brand-primary;
}

::-moz-selection {
    background: $freifunk-farbe; /* freifunk magenta */
    color: #ffffff; /* white */
    text-shadow: none;
}

::selection {
    background: $freifunk-farbe; /* freifunk magenta */
    color: #ffffff; /* white */
    text-shadow: none;
}

.fa.fa-wifi.fa-bg {
  color: #e6faff;
  font-size: 50rem;
  position: fixed;
  z-index: -1;
}

.icon {
  height: 1.2rem;
  vertical-align: text-top;
  path {
    fill: $freifunk-farbe;
  }
}

.nobtn {
  background: none;
  color: $freifunk-farbe;
  border: none;
}

.navbar.bg-faded {
  background-color: rgba(248,248,248,0.5);
}


.fb-ribbon {
  display: none;
}

.site-header,
.site-footer,
.site-content {
  z-index: 10;
  position: relative;
}



.site-title {
  font-family: "Source Sans Pro";
  font-weight: 700;
  text-shadow: 1px 1px 1px, 2px 2px 9px #eee;
  color: $brand-primary;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: $brand-primary;

  }
}


.post-list > .post {
  margin-bottom: 2rem;
}
.post-meta {
  font-style: italic;
}

.post-date {
  font-style: italic;
  font-size: 0.9em;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li > a,
.pagination > li > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 0px;
  border-color: #F8BBD5;
}

.right-sidebar {
  margin-top: 2em;
}

.site-content p {
  quotes: "„" "”" "‚" "‘";
}

.site-footer {
  border-top: 5px solid $brand-secondary;
  background-color: rgba(255,255,255,0.7);
  padding-top: 3em;
  margin-top: 3em;
}

.site-footer .fa {
  font-size: 1.5rem;
  display: inline-block;
  width: 2rem;
}

.pp {
  background: #fff none repeat scroll 0 0;
}

.sponsorenliste > li {
  margin: 4rem 0px;
}

.form-control {
  border-radius: 1px;
}

.form-control:focus {
  border-color: $brand-primary;
}


.webcams {
  margin-bottom: 1rem;
  width: 300px;
}

.webcams .carousel-inner > .carousel-item > a {
  cursor: zoom-in;
}
.webcams .carousel-inner > .carousel-item > a > img {
  height: 181px;
  overflow: hidden;

}

.fflogo {
  height: 110px;
  padding: 10px;
}


@import 'featherlight.min';

@include media-breakpoint-down("sm") {
//@media (max-width: map-get($grid-breakpoints,"md")) {
  .site-title {
    font-size: 1rem;
  }
  .fflogo {
    width: 50px;
  }



  .navbar-brand {
    float: none;
    display: inline-block;
  }
  .navbar-brand > img {
    display: inline;
  }

  .navbar-nav .nav-item + .nav-item  {
    margin: 0px;
  }

  .navbar-toggler {
    align-self: flex-end;
  }

}

@include media-breakpoint-up("sm") {

}

@include media-breakpoint-up("md") {
//@media (min-width: map-get($grid-breakpoints,"md")) {
  .fb-ribbon {
    display: block;
    position: fixed;
    right: 0px;
    top: 0px;
    background-image: url("/img/ribbon.svg");

    background-position: -14px -19px;
    background-repeat: no-repeat;
    background-size: 12rem auto;
    text-indent: -9999px;
    height: 10rem;
    width: 10rem;
  }

  .site-title {
    font-size: 3rem;
  }
  .navbar-brand {
    padding: 0px;
  }




  .ff-nav .nav-item + .nav-item:not(.nodot){
    margin-left: 0px;
  }

  .ff-collapse > .container {
    display: flex;
    flex-direction: column;
  }

  .ff-nav {
    display: flex;
  }

  .ff-nav-begin{
    flex: 8;
  }
  .ff-nav-end {
    flex: 1;
    justify-content: flex-start;
  }



}


@include media-breakpoint-up("lg") {
  .ff-nav .nav-item:not(.nodot):not(.last) a:after {
    display: inline-block;
    content: "·";
    padding: 0px 0.5rem ;
  }
  .ff-collapse > .container {
    flex-direction: row;
  }
  .ff-nav-end {
    justify-content: flex-end;
  }


}

.map-content {
  margin-top: -1em;
}




#meshviewer {
  border: 0;
  height: 100vh ;
  width: 100vw;
  height: calc(100vh - 14rem);
  z-index: 1;
}
