---
---
@import "bootstrap-v4/bootstrap";

$freifunk-farbe: $brand-primary;

::-moz-selection {
    background: $freifunk-farbe; /* freifunk magenta */
    color: #ffffff; /* white */
    text-shadow: none;
}

::selection {
    background: $freifunk-farbe; /* freifunk magenta */
    color: #ffffff; /* white */
    text-shadow: none;
}

.fa.fa-wifi.fa-bg {
  color: #e6faff;
  font-size: 50rem;
  position: fixed;
  z-index: 0;
}

.icon {
  height: 1.2rem;
  vertical-align: text-top;
  path {
    fill: $freifunk-farbe;
  }
}

.navbar.bg-faded {
  background-color: rgba(248,248,248,0.5);
}




.site-header,
.site-footer,
.site-content {
  z-index: 10;
  position: relative;
}



.site-title {
  font-family: "Source Sans Pro";
  font-weight: 700;
  text-shadow: 1px 1px 1px, 2px 2px 9px #eee;
  color: $brand-primary;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: $brand-primary;

  }
}


.post-list > li {
  margin-bottom: 2rem;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li > a,
.pagination > li > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 0px;
  border-color: #F8BBD5;
}


.site-footer {
  background-color: rgba(255,255,255,0.7);
}

.site-footer .fa {
  font-size: 1.5rem;
  display: inline-block;
  width: 2rem;
}

.pp {
  background: #fff none repeat scroll 0 0;
  color: #0275d8;
  padding: 4px;

}

.sponsorenliste > li {
  margin: 4rem 0px;
}



@media (max-width: map-get($grid-breakpoints,"md")) {
  .site-title {
    font-size: 1rem;
  }
  .fflogo {
    width: 50px;
  }

  .navbar-brand {
    float: none;
    display: inline-block;
  }
  .navbar-brand > img {
    display: inline;
  }

  .navbar-nav .nav-item + .nav-item  {
    margin: 0px;
  }

  .ff-nav .nav-item {
    float: none;
  }
}

@media (min-width: map-get($grid-breakpoints,"md")) {

  .site-title {
    font-size: 3rem;
  }
  .navbar-brand {
    padding: 0px;
  }
  .fflogo {
    height: 110px;
    padding: 10px;
  }

  .ff-pull-right {
    /* find ich jetzt nicht gut */
    float: right !important;
  }

  .ff-nav .nav-item + .nav-item:not(.nodot){
    margin-left: 0px;
  }
  .ff-nav .nav-item:not(.nodot):not(.last) a:after {
    display: inline-block;
    content: "·";
    padding: 0px 0.5rem ;
  }

}
