---
layout: default
---


<h3 class="page-heading">Aktuelles</h3>

<div class="post-list">
  {% for post in paginator.posts %}
    <div class="post">
      <span class="post-meta">
        {% if post.tags.size > 0 %}
          <strong>Für Stadt: {{ post.tags | join: ", " }}</strong>
        {% endif %} <!-- -
        Kategorie(n): {{ post.categories }} -->
      </span>
      {% include list_post.html %}
    </div>
  {% endfor %}
</div>

{% include paginator_snippet.html %}


<p class="rss-subscribe">
  automatisch auf dem Laufenden <a href="{{ "/feed.xml" | prepend: site.baseurl }}">mit RSS</a>
</p>
