<footer class="site-footer m-y-md">
  <div class="container">
    <h4 class="footer-heading">{{ site.title }}</h4>

    <div class="row">
      <div class="col-md-4 col-xs-12">
        <ul class="contact-list list-unstyled">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="col-md-4 col-xs-12">
        <ul class="social-media-list list-unstyled">
          {% if site.github_username %}
          <li>
            <a title="GitHub" href="https://github.com/{{ site.github_username }}">
              <i class="fa fa-github"></i>
              GitHub:
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a title="Twitter"href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fa fa-twitter"></i>
              Twitter:
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
          <li>
            <a title="Chat mit uns" href="http://freifunk-waldheim:7778">
              <i class="fa fa-comment"></i>
              Chat: irc.hackint.org #freifunkwdh
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/groups/FreifunkMittelsachsen/">
              <i class="fa fa-facebook"></i>
              Facebook
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 col-xs-12">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
