<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="google-site-verification" content="E6Q1JRCcMQMMGTBcIeXfGySl4F1aECaQ2UV5ZLon0Mw" />

  <link rel="stylesheet" href="{{ "/css/freifunk.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Lora:700' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script async src="{{ "/js/bootstrap4.min.js" | prepend: site.baseurl }}"></script>
  <script async src="{{ "/js/scripts.js" | prepend: site.baseurl }}"></script>
  <meta name="theme-color" content="#ffffff">
  <link rel="manifest" href="/manifest.json">
  <link rel="icon" sizes="192x192" href="/img/highres-favicon.png">

  <meta property="og:type" content="website" />
  <meta property="og:title" content="Freifunk Mittelsachsen" />
  <meta property="og:description" content="Das freie und kostenlose Bürger-Datennetz in Mittelsachsen - Sachsen" />
  <meta property="og:url" content="http://www.freifunk-mittelsachsen.de" />
  <meta property="og:site_name" content="Freifunk Mittelsachsen" />
  <meta property="og:image" content="http://www.freifunk-mittelsachsen.de/img/ffms-plain.svg" />
  <meta property="og:image:type" content="image/svg" />
  <meta property="og:locale" content="de_DE" />
  <meta name="twitter:site" content="@freifunkmtl" />
  <meta name="twitter:card" content="summary" />


</head>
