<header class="site-header">
    <a class="fb-ribbon" href="https://www.facebook.com/freifunkmittelsachsen">
      <span>Freifunk Mittelsachsen auf Facebook</span>
    </a>
    <div class="container">
      <a class="d-none d-md-block  site-title" href="{{ site.baseurl }}/">
        <img height="110" class="fflogo" src="{{ site.baseurl}}/img/ffms-plain.svg" />
        {{ site.title }}
      </a>
      <small class="d-none d-md-inline">{{ site.subtitle }}</small>
    </div>


    {% include navigation.html %}


</header>
