<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="google-site-verification" content="E6Q1JRCcMQMMGTBcIeXfGySl4F1aECaQ2UV5ZLon0Mw" />

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Lora:700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{{ "/css/freifunk.css" | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  {% if page.metatags %} <meta name="robots" content="{{page.metatags}}">{% endif %}

  <script async defer src="{{ "/js/scripts.js" | prepend: site.baseurl }}"></script>
  <!--  <script async defer src="{{ "/js/bootstrap4.min.js" | prepend: site.baseurl }}"></script> -->
  <meta name="theme-color" content="#ffffff">
  <link rel="manifest" href="/manifest.json">
  <link rel="icon" sizes="192x192" href="/img/highres-favicon.png">

  {% if page.title %}
    <meta content="article" property="og:type">
  {% else %}
    <meta content="website" property="og:type">
  {% endif %}

  <meta content="{{ site.title }}" property="og:site_name">
  {% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
  {% else %}
    <meta content="{{ site.title }}" property="og:title">
  {% endif %}

  {% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
  {% else %}
    <meta content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% endif %}" property="og:description">
  {% endif %}


  {% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
  {% endif %}

  {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{ site.url }}/kontakt/" property="article:author">
  {% endif %}

  {% if page.categories %}
    {% for category in page.categories limit:1 %}
    <meta content="{{ category }}" property="article:section">
    {% endfor %}
  {% endif %}
  {% if page.tags %}
    {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag">
    {% endfor %}
  {% endif %}

  {% if page.ogimage %}
    <meta property="og:image" content="http://www.freifunk-mittelsachsen.de/img/{{ page.ogimage }}">
  {% else %}
    <meta property="og:image" content="http://www.freifunk-mittelsachsen.de/img/open-grap-image.jpg">
  {% endif %}
  <meta property="og:image:type" content="image/jpg">
  <meta property="og:locale" content="de_DE">
  <meta name="twitter:site" content="@freifunkmtl">
  <meta name="twitter:card" content="summary">



</head>
