<header class="site-header m-b m-y-md">
    <a class="fb-ribbon" href="https://www.facebook.com/freifunkmittelsachsen">
      <span>Freifunk Mittelsachsen auf Facebook</span>
    </a>
    <div class="container">
      <a class="hidden-sm-down site-title" href="{{ site.baseurl }}/">
        <img class="fflogo" src="{{ site.baseurl}}/img/ffms-plain.svg" />
        {{ site.title }}
      </a>
      <small class="hidden-sm-down">{{ site.subtitle }}</small>
    </div>


    {% include navigation.html %}


</header>
