<header class="site-header m-y">
    <div class="container">
      <a class="hidden-sm-down site-title" href="{{ site.baseurl }}/">
        <img class="fflogo" src="{{ site.baseurl}}/img/ffms-plain.svg" />
        {{ site.title }}
      </a>
      <small>{{ site.subtitle }}</small>
    </div>
    <nav class="navbar navbar-default bg-faded">
      <a class="hidden-md-up navbar-brand site-title" href="{{ site.baseurl }}/">
        <img class="fflogo" src="{{ site.baseurl}}/img/ffms-plain.svg" />
        {{ site.title }}
      </a>


      <button class="navbar-toggler hidden-md-up pull-right clearfix" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        &#9776;
      </button>

      <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
        <div class="container">
          <ul class="nav navbar-nav ff-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}">
                <i class="hidden-sm-down fa fa-home"></i>
                <span class="hidden-md-up">
                  News
                </span>
              </a>
            </li>
            {% assign pages = site.pages | sort: "order" %}
            {% for page in pages %}
              {% unless page.url contains 'stadt' %}
                {% if page.title %}
                  <li class="nav-item {% if forloop.last %} last {% endif %}" >
                    <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                  </li>
                {% endif %}
              {% endunless %}
            {% endfor %}
            <li class="nav-item ff-pull-right nodot">
              <a class="nav-link" href="http://karte.freifunk-mittelsachsen.de/meshviewer">
                <i class="fa fa-map"></i>
                Karte
              </a>
            </li>
            <li class="nav-item ff-pull-right nodot">
              <a class="nav-link" href="http://www.freifunk.de">freifunk.de</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>
