<nav class="navbar  navbar-expand-md  navbar-toggleable-sm  bg-faded">

  <a title="Sachsens kostenloses WLAN - Freifunk Mittelsachsen" class="d-inline-block d-md-none navbar-brand site-title" href="{{ site.baseurl }}/">
    <img class="fflogo" src="{{ site.baseurl}}/img/ffms-plain.svg" />
    {{ site.title }}
  </a>


  <button class="navbar-toggler d-block d-md-none" type="button" data-toggle="collapse" data-target="#collapseNavbar">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" width="40" viewBox="0 0 10 10" version="1.1" height="40">
      <style>.s0 { fill: none; stroke: #000; }</style>
      <g transform="translate(0,-294.35416)">
        <path d="m1.2 295.6c0 0 7.6 0 7.6 0M1.2 298c0 0 7.6 0 7.6 0M1.2 300.4c0 0 7.6 0 7.6 0M1.2 302.7c0 0 7.6 0 7.6 0" class="s0"/>
      </g>
    </svg>
  </button>

    <div class="collapse navbar-collapse ff-collapse " id="collapseNavbar">
      <div class="container">

        <ul class="nav navbar-nav ff-nav ff-nav-begin ">

        {% assign pages = site.data.navigation %}
        {% for page in pages %}
          {% unless page.url contains 'stadt' %}
            {% if page.name %}
              <li class="nav-item {% if forloop.last %} last {% endif %} {% if page.class %} {{ page.class }} {% endif %}" >
                <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">

                  {% if page.icon %}
                    <i class="fa fa-{{ page.icon }}"></i>
                  {% endif %}


                  <span>{{ page.name }}</span>

                </a>
              </li>
            {% endif %}
          {% endunless %}
        {% endfor %}
      </ul>

      <ul class="nav navbar-nav ff-nav ff-nav-end">
        <li class="nav-item nodot">
          <a title="kostenloses WLAN in Sachsen - Freifunk Mittelsachsen" class="nav-link" href="/karte/">
            <i class="fa fa-map"></i>
            Karte
          </a>
        </li>

        <!-- <li class="nav-item justify-content-end nodot">
          <a title="Chatte mit uns unkompliziert" class="nav-link" href="http://im.freifunk-mittelsachsen.de/candy/ffms">
            <i class="fa fa-comment"></i>
            Chat
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
