
<table class="table">
  <thead>
    <tr>
      <th> Geräte-Name <br>
           (mit Amazonlink)
      </th>
      <th> Hersteller</th>
      <th> Preis </th>
      <th> RAM    </th>
      <th> ROM    </th>
      <th> Version    </th>
      <th> Beschreibung </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <a href="http://www.amazon.de/dp/B001FWYGJS">TL-WR841N</a> </td>
      <td> TP-Link</td>
      <td> 16-20&#8364; </td>
      <td> 32 </td>
      <td> 4 </td>
      <td> v1-v9 </td>
      <td> Im Unterschied zum Modell mit der Endung <i>ND</i> mit nicht abnehmbaren Antennen ausgestattet.</td>
    </tr>
    <tr>
      <td> <a href="http://www.amazon.de/dp/B0019EQ1RW">TL-WR841ND</a></td>
      <td> TP-Link</td>
      <td> 20-29&#8364;</td>
      <td> 32</td>
      <td> 4</td>
      <td> v1-v9</td>
      <td> <i>D</i> steht für <i>detachable</i>, der Router besitzt also abnehmbare Antennen.</td>
    </tr>
    <tr>
      <td> TL-WR842N</td>
      <td> TP-Link</td>
      <td> 16-20&#8364; </td>
      <td> 32 </td>
      <td> 4 </td>
      <td> v1-v2 </td>
      <td> Im Unterschied zum Modell mit der Endung <i>ND</i> mit nicht abnehmbaren Antennen ausgestattet.
           <i>Leider ist das Gerät bei Amazon nicht verfügbar ... vielleicht aber woanders</i>
      </td>
    </tr>
    <tr>
      <td> <a href="http://www.amazon.de/dp/B006E04T9I">TL-WR842ND</a></td>
      <td> TP-Link</td>
      <td> 20-35&#8364;</td>
      <td> 32</td>
      <td> 4</td>
      <td> v1-v9</td>
      <td> <i>D</i> steht für <i>detachable</i>, der Router besitzt also abnehmbare Antennen.</td>
    </tr>
    <tr>
      <td> <a href="http://www.amazon.de/dp/B008HV2KU2">TL-WDR3600</a> </td>
      <td> TP-Link </td>
      <td> 40&#8364; </td>
      <td> 128  </td>
      <td> 8    </td>
      <td> v1    </td>
      <td> mehr Speicher, USB Anschlüsse, auch 5 GHZ, 2 abnehmbare Antennen</td>
    </tr>
    <tr>
      <td>
        <a href="http://www.amazon.de/TP-Link-TL-WR1043ND-Ultimate-Anschluss-Glasfasermodem/dp/B002YETVTQ/ref=sr_1_5?s=computers&ie=UTF8&qid=1442408547&sr=1-5&keywords=841nd">
          TP-Link TL-WR1043ND
        </a>
      </td>
      <td>TP-Link</td>
      <td>50-60&#8364;</td>
      <td>32-64</td>
      <td>8</td>
      <td>v3</td>
      <td>für Anschluss an Kabel-/DSl-/Glasfasermodem, LAN, 300MBit/s, WAN, USB 2.0</td>
    </tr>
    <tr>
      <td>
        <a href="http://www.amazon.de/TP-Link-TL-WDR4300-Simultan-Dual-Band-LAN-Ports/dp/B00810P80S/ref=sr_1_1?s=computers&ie=UTF8&qid=1442408637&sr=1-1&keywords=tp-link+4300">
          TL-WDR4300
        </a>
      </td>
      <td>TP-Link</td>
      <td>75-85&#8364;</td>
      <td>128</td>
      <td>8</td>
      <td>v1.7</td>
      <td>für Anschluss an Kabel-/DSl-/Glasfasermodem, LAN, 300MBit/s, WAN, USB 2.0</td>
    </tr>

    <tr>
      <td>
        <a href="http://www.amazon.de/TP-LINK-CPE210-300Mbps-Wireless-Weatherproof/dp/B00OULV20W/ref=sr_1_1?s=computers&ie=UTF8&qid=1442773825&sr=1-1&keywords=CPE210">
          CPE210
        </a>
      </td>
      <td>TP-Link</td>
      <td>50-80&#8364;</td>
      <td>64</td>
      <td>8</td>
      <td>-</td>
      <td>
        2.4GHz, 300Mbit/s, 9dBi Gewinn
      </td>
    </tr>
    <tr>
      <td> <a href="http://www.amazon.de/dp/B00I4QF9B2">Nanostation M5</a>  </td>
      <td> Ubiquiti </td>
      <td> ca 80&#8364; </td>
      <td> 32 </td>
      <td> 8</td>
      <td> v1 </td>
      <td>
        5 GHz Richtfunk, 16dBi MiMo, Outdoor, 60° Öffnungswinkel, Power over Ethernet + Injector, Zwei LAN Anschlüsse
      </td>
    </tr>

    <tr>
      <td> <a href="http://www.amazon.de/dp/B0040J9WT2">Nanostation M2</a> </td>
      <td> Ubiquiti </td>
      <td> ca 80&#8364; </td>
      <td> 32 </td>
      <td> 8</td>
      <td> v1 </td>
      <td>
        2,4 GHz Richtfunk, 11dBi MiMo, Outdoor, 60° Öffnungswinkel, Power over Ethernet + Injector, Zwei LAN Anschlüsse
      </td>
    </tr>

    <tr>
      <td> <a href="http://www.amazon.de/WLAN-Access-Point-Ubiquiti-NanoStation/dp/B00CREZK2A">Nanostation M2 Loco</a> </td>
      <td> Ubiquiti </td>
      <td> ca 50&#8364; </td>
      <td> 32 </td>
      <td> 8</td>
      <td> v1 </td>
      <td>
        2,4 GHz Richtfunk, 8dBi MiMo, Outdoor, 60° Öffnungswinkel, Power over Ethernet fähig
      </td>
    </tr>

    <tr>
      <td> <a href="http://www.amazon.de/Ubiquiti-Bullet-M5-5GHz-BM5HP/dp/B0040J6MUO">Bullet M5 (BM5HP)</a> </td>
      <td> Ubiquiti </td>
      <td> ca 80&#8364; </td>
      <td> 32 </td>
      <td> 8</td>
      <td> </td>
      <td>
        5GHz Aufsteckaccesspoint, Outdoor, Power over Ethernet + Injector, das Gerät wird direkt auf das Antennenkabel/die Antenne aufgesteckt.
      </td>
    </tr>

    <tr>
      <td> <a href="http://www.amazon.de/Ubiquiti-Bullet-M2-2-4GHz-BM2/dp/B0040J61KK/">Bullet M2 (BM2HP)</a> </td>
      <td> Ubiquiti </td>
      <td> ca 80&#8364; </td>
      <td> 32 </td>
      <td> 8</td>
      <td> </td>
      <td>
        2,4GHz Aufsteckaccesspoint, Outdoor, Power over Ethernet + Injector, das Gerät wird direkt auf das Antennenkabel/die Antenne aufgesteckt.
      </td>
    </tr>


  </tbody>
</table>
