<aside>
  <h4>Nutzer aktuell</h4>
  <p>
    <a href="http://karte.freifunk-mittelsachsen.de/meshviewer">
      <span id="clientcount">0</span> Nutzer
    </a>
  </p>

  <h4>Finanziell unterstützen</h4>
  <ul class="list-unstyled">
    <li>
      <a href="//shop.freifunk-mittelsachsen.de">
        <svg class="icon" viewBox="0 0 2048 2048" xmlns="http://www.w3.org/2000/svg">
          <path d="M832 1664q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm896 0q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm128-1088v512q0 24-16 42.5t-41 21.5l-1044 122q1 7 4.5 21.5t6 26.5 2.5 22q0 16-24 64h920q26 0 45 19t19 45-19 45-45 19h-1024q-26 0-45-19t-19-45q0-14 11-39.5t29.5-59.5 20.5-38l-177-823h-204q-26 0-45-19t-19-45 19-45 45-19h256q16 0 28.5 6.5t20 15.5 13 24.5 7.5 26.5 5.5 29.5 4.5 25.5h1201q26 0 45 19t19 45z"/>
        </svg>
        Onlineshop
      </a>
      <a title="Weitere Informationen zu unserem Onlineshop" href="/spenden/#unser-onlineshop">
        <svg class="icon" viewBox="0 0 2048 2048" xmlns="http://www.w3.org/2000/svg"><path d="M1280 1504v-160q0-14-9-23t-23-9h-96v-512q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v160q0 14 9 23t23 9h96v320h-96q-14 0-23 9t-9 23v160q0 14 9 23t23 9h448q14 0 23-9t9-23zm-128-896v-160q0-14-9-23t-23-9h-192q-14 0-23 9t-9 23v160q0 14 9 23t23 9h192q14 0 23-9t9-23zm640 416q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/></svg>
      </a>
    </li>
    <li>
      <a title="Kostenlos spenden nur wärend man ganz normal online shoppt" href="https://www.boost-project.com/de/shops?charity_id=4144">
        <svg class="icon" viewBox="0 0 2048 2048" xmlns="http://www.w3.org/2000/svg"><path d="M1488 1435l35 159q3 12-3 22.5t-17 14.5l-5 1q-4 2-10.5 3.5t-16 4.5-21.5 5.5-25.5 5-30 5-33.5 4.5-36.5 3-38.5 1q-234 0-409-130.5t-238-351.5h-95q-13 0-22.5-9.5t-9.5-22.5v-113q0-13 9.5-22.5t22.5-9.5h66q-2-57 1-105h-67q-14 0-23-9t-9-23v-114q0-14 9-23t23-9h98q67-210 243.5-338t400.5-128q102 0 194 23 11 3 20 15 6 11 3 24l-43 159q-3 13-14 19.5t-24 2.5l-4-1q-4-1-11.5-2.5l-17.5-3.5-22.5-3.5-26-3-29-2.5-29.5-1q-126 0-226 64t-150 176h468q16 0 25 12 10 12 7 26l-24 114q-5 26-32 26h-488q-3 37 0 105h459q15 0 25 12 9 12 6 27l-24 112q-2 11-11 18.5t-20 7.5h-387q48 117 149.5 185.5t228.5 68.5q18 0 36-1.5t33.5-3.5 29.5-4.5 24.5-5 18.5-4.5l12-3 5-2q13-5 26 2 12 7 15 21z"/></svg>
        kostenlos spenden
      </a>
      <a title="Infos was kostenlos spenden ist" href="/spenden/#kostenlos-spenden">
        <svg class="icon"  viewBox="0 0 2048 2048" xmlns="http://www.w3.org/2000/svg"><path d="M1280 1504v-160q0-14-9-23t-23-9h-96v-512q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v160q0 14 9 23t23 9h96v320h-96q-14 0-23 9t-9 23v160q0 14 9 23t23 9h448q14 0 23-9t9-23zm-128-896v-160q0-14-9-23t-23-9h-192q-14 0-23 9t-9 23v160q0 14 9 23t23 9h192q14 0 23-9t9-23zm640 416q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/></svg>
      </a>
    </li>
    <li>
      {% include spenden-formular.html buttontext="Spenden mit Paypal" classes="nobtn" %}
    </li>
  </ul>

  <h4>Städte</h4>
  <ul class="list-unstyled">
    <li>
      <a href="/">
        Alle
      </a>
    </li>

    {% assign cities = site.tags | sort %}
    {% for city in cities %}
       <li>
         <a title="Freifunk Mittelsachsen News für die Stadt {{city[0]}}" href="{{ city[0] | downcase | prepend: "/stadt/" | prepend: site.baseurl }}">
           {{ city[0] }}
         </a>
       </li>
    {% endfor %}
  </ul>

  <h4>Links</h4>
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <a title="das deutschlandweite Freifunkprojekt" class="nav-link" href="http://www.freifunk.de">
          Freifunk Deutschland
        </a>
      </li>
    </ul>
    <br>
    <h5>Freifunk in Sachsen</h5>
    <ul class="nav">
      <li class="nav-item">
        <a title="Nachbarfreifunknetz in Sachsen" class="nav-link" href="http://www.chemnitz.freifunk.de">
          Freifunk Chemnitz
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" title="Freifunknetz in Sachsens Hauptstadt" href="http://www.freifunk-dresden.de">
          Freifunk Dresden
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" title="Freifunknetz in Sachsens Messestadt" href="http://leipzig.freifunk.net">
          Leipziger Freifunk
        </a>
      </li>
    </ul>
  </nav>


  {% if jekyll.environment == 'production' %}
    <iframe width="300" height="181" src="https://www.youtube-nocookie.com/embed/2Z12OjnPADA?rel=0" frameborder="0" allowfullscreen></iframe>
    <p>
      <a href="https://vimeo.com/64814620">Freifunk verbindet!</a> from
      <a href="https://vimeo.com/kosmonautensofa">Philipp Seefeldt</a> on
      <a href="https://vimeo.com">Vimeo</a>.
    </p>
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/freifunkmtl" data-widget-id="637977000389517312">
      Tweets von Freifunk Mittelsachsen
    </a>
    <script>
      !function(d,s,id){
        var  js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
  {% endif %}
</aside>
